<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Superheroes</title>
    <link href="https://fonts.cdnfonts.com/css/international-super-hero" rel="stylesheet">

    <style>
        body {
            background-color: powderblue;
            font-family: 'International Super Hero', sans-serif;
            font-size: x-large;
            color: azure;
            text-align: center;
        }

        .background{
	        background-image: url(https://st2.depositphotos.com/1448225/9009/v/450/depositphotos_90095934-stock-illustration-night-city-skyline-background.jpg);
	        background-size: cover;
	        background-repeat: no-repeat;
	        background-attachment: fixed;
	        background-position: center, center;
        }
    </style>

</head>

<body class="background">
    <h1>Welcome to the Superhero Database</h1>
    <div>
        To go enter your favorite superheroes select <a href="/userData">Favorites</a>
        <br>
        To view your data select <a href="/getFavs">data</a>
    </div>
    <hr>
    <div>
            To view a random person's favorite hero and their information select <a href="/randomFav">Random Favorites</a>
        <br>
            To view all User's data select <a href="/allFavs">Database Favorites</a>
    </div>
    <hr>

    <img src="https://www.fortressofsolitude.co.za/wp-content/uploads/2020/11/marvel-vs-dc-marvel-comics-1996-750x375.jpg" alt="marvel_vs_dc"></img>

</body>

</html>