<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
		<title>Get Random Fav</title>
        <link href="https://fonts.cdnfonts.com/css/international-super-hero" rel="stylesheet">

    <style>
        body {
            background-color: powderblue;
            font-family: 'International Super Hero', sans-serif;
            font-size: x-large;
            color: azure;
            text-align: center;
        }

        .background{
	        background-image: url(https://wallpapercave.com/wp/uMXOSz0.jpg);
	        background-size: cover;
	        background-repeat: no-repeat;
	        background-attachment: fixed;
	        background-position: center, center;
        }
    </style>
	</head>

	<body class="background">
		<h1>Get Random Favorites</h1>
        <form action="/randomFav" method="post">
            <input type="submit" id="submit" value="Get Random">
        </form>
        <hr>
        <a href='/'>home</a>
   </body>

</html>